@{
    ViewBag.Title = "Money";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/css/LoginTemplate.css">
    <link href="~/Content/fontawesome/css/fontawesome.css" rel="stylesheet" />
    <link href="~/Content/fontawesome/css/brands.css" rel="stylesheet" />
    <link href="~/Content/fontawesome/css/solid.css" rel="stylesheet" />
</head>
<body onload="functionForgotPasswordLoad()">
    <div class="login-container">
        <img class="site_logo_image" src="~/Content/Temp_Images/logo.png" alt="" srcset="">
        <h2>Reset Password</h2>
        <input id="txtEmail" type="text" name="email" placeholder="Email" onkeyup="functionEmailEnter()">
        <input id="btnSendReset" type="submit" value="Send Reset Link" onclick="functionSendResetLink()">
        <input id="txtOTP" type="text" name="otp" placeholder="otp" onkeyup="functionOTPEnter()">
        <input id="txtPassword" type="password" name="password" placeholder="Password" onkeyup="functionPasswordEnter()">
        <input id="txtPasswordConfirm" type="password" name="password" placeholder="Confirm Password" onkeyup="functionConfirmPasswordEnter()">
        <input id="btnResetPassword" type="submit" value="Login" onclick="functionResetPassword()">
        <div class="signup-link">
            <a href="/Account/Index">Back To Login</a>
        </div>
    </div>

    <script src="~/Content/js/LoginScript.js"></script>
</body>
</html>
