
.side-bar a {
    padding: 8px 8px 8px 38px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    display: block;
    transition: 0.3s;
}


.side-bar.expanded {
    width: 250px;
    background-color: #049e97;
    padding-top: 10px;
    height: 100vh;
}

.side-bar.collapsed {
    width: 50px;
    background-color: #049e97;
    padding-top: 10px;
    height: 100vh;
}

.side-bar a:hover {
    color: #04ecdc;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

.side-bar-close {
    padding-left: 200px;
    font-size: 35px;
    color: white;
}

.side-bar-open {
    padding-left: 10px;
    font-size: 35px;
    color: white;
    display: none;
}

    .side-bar-close:hover,
    .side-bar-open:hover {
        color: #04ecdc;
    }
.side-bar-link-desc{
    width:150px;
}