
.side-bar a {
    padding: 8px 8px 8px 38px;
    text-decoration: none;
    font-size: 15px;
    color: #fac495;
    display: block;
    transition: 0.3s;
}


.side-bar.expanded {
    width: 250px;
    background-color: #750a18;
    padding-top: 10px;
    height: 100vh;
}

.side-bar.collapsed {
    width: 50px;
    background-color: #750a18;
    padding-top: 10px;
    height: 100vh;
}

.side-bar a:hover {
    color: #f1f1f1;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

.side-bar-close {
    padding-left: 200px;
    font-size: 35px;
    color: #fac495;
}

.side-bar-open {
    padding-left: 10px;
    font-size: 35px;
    color: #fac495;
    display: none;
}

.side-bar-close:hover,
.side-bar-open:hover{
    color:white;
}
.side-bar-link-desc{
    width:150px;
}